<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>descargarApp</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">descargarApp</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card *ngFor="let item of aplicacionActual.descripcion">
    
 
      <ion-card-content>
        <ion-list>
          <div class="contenedor">
            
            <img id="imagen" alt="Silhouette of mountains" src="{{item.imagen}}">
            
            <ion-label id="nombre">{{item.nombre}}</ion-label>
            
          </div>
       
          

        </ion-list>
        <h3>{{item.tipo}}</h3>
        <br>
        <p>{{item.descripcion}}</p>
        <br>
        <a href="{{item.link}}"><ion-button color="success" expand="block">haz click para descargar</ion-button></a>
      </ion-card-content>
          

  </ion-card>

